<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <nav>
    <ul>
        <li><a href="/contacto"> Contacto</a></li>
        <li><a href="/nosotros"> Nosotros</a></li>
        <li><a href="/productos"> Productos</a></li>

    </ul>
</nav>
  </body>
</html>
